<header>
  
	
		
			<div class="richardnav">
		          
		          <ul class="pills">
		           		
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Projects", project_path %></li>
				 	<li><%= link_to "Resume", resume_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
				
		          </ul>
		
	
	</div>
	
     
		<%= audio_tag("yiruma.ogg", :autoplay => true) %>
		
      
	</div>
	

	 

</header>