 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Richard Lung | <%= @title %></title>
	<%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets'%>

	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class = "container">
	
				<%= yield %>
				</section>
		
		<%= debug(params) if Rails.env.development? %>
	<%= audio_tag 'yiruma2.mp3'%>
			</div>
			<div class="ifoot">&copy; Richard Lung 2011</div>
	</body>
</html>